process {

    withName: "WM_TRACKING" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.local_fa_tracking_mask_threshold = 0.1
        ext.local_random_seed = 0
        ext.local_compress_streamlines = true
        ext.local_compress_value = 0.2
        ext.local_algo = "prob"
        ext.local_seeding = "npv"
        ext.local_nbr_seeds = 2
        ext.local_step = 1.0
        ext.local_seeding_mask_type = "wm"
        ext.local_tracking_mask_type = "wm"
        ext.local_theta = 20
        ext.local_sfthres = 0.1
        ext.local_min_len = 20
        ext.local_max_len = 200
        ext.basis = "descoteaux07"
    }

    withName: "FA_TRACKING" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.local_fa_tracking_mask_threshold = 0.1
        ext.local_fa_seeding_mask_threshold = 0.1
        ext.local_random_seed = 0
        ext.local_compress_streamlines = true
        ext.local_compress_value = 0.2
        ext.local_algo = "prob"
        ext.local_seeding = "npv"
        ext.local_nbr_seeds = 2
        ext.local_step = 1.0
        ext.local_seeding_mask_type = "fa"
        ext.local_tracking_mask_type = "fa"
        ext.local_theta = 20
        ext.local_sfthres = 0.1
        ext.local_min_len = 20
        ext.local_max_len = 200
        ext.basis = "descoteaux07"
    }
    
}