process {
    withName: "RECONST_FRF" {
        ext.b0_thr_extract_b0 = 10
        ext.dwi_shell_tolerance = 50
        ext.max_dti_shell_value = 1200
        ext.fa = 0.7
        ext.fa_min = 0.5
        ext.nvox_min = 300
        ext.roi_radius = 20
        ext.set_frf = false
    }
    withName: "test_reconst_ssst_frf_set_frf:RECONST_FRF" {
        ext.set_frf = true
        ext.manual_frf = "15,4,4"
    }
    withName: "test_reconst_ssst_frf_set_frf_nomask:RECONST_FRF" {
        ext.set_frf = true
        ext.manual_frf = "15,4,4"
    }
    withName: "test_reconst_msmt_frf:RECONST_FRF" {
        ext.set_frf = false
    }
    withName: "test_reconst_msmt_frf_set_frf:RECONST_FRF" {
        ext.set_frf = true
        ext.manual_wm_frf = "15,4,4"
        ext.manual_gm_frf = "8,6,6"
        ext.manual_csf_frf = "20,20,20"
    }
}
