process {

    withName: "REGISTRATION_ANTSAPPLYTRANSFORMS" {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: "REGISTRATION_ANTSAPPLYTRANSFORMS_TEST" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.interpolation = "linear"
    }
}
