process {
    withName: "REGISTRATION_TRACTOGRAM" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.inverse = true
        ext.keep_invalid = true
        ext.force = true
        ext.cut_invalid = true
        ext.remove_single_point = true
        ext.remove_overlapping_points = true
        ext.no_empty = true
    }

}
