
process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "PREPROC_NORMALIZE" {
        ext.dwi_shell_tolerance = '20'
        ext.fa_mask_threshold = '0.4'
        ext.max_dti_shell_value = '1200'
    }

    withName: "test_preproc_normalize_with_dti_shells:PREPROC_NORMALIZE" {
        ext.dti_shells = '0 1000'
    }
}
