process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withNAME: "RECONST_FODF" {
        ext.b0_thr_extract_b0 = 10
        ext.dwi_shell_tolerance = 20
        ext.min_fodf_shell_value = 700
        ext.sh_order = 8
        ext.sh_basis = "descoteaux07"
        ext.fa_threshold = 0.1
        ext.md_threshold = 0.003
        ext.fodf_metrics_a_factor = 2.0
        ext.relative_threshold = 0.1
        ext.processes = 4
    }

    withNAME: "test_reconst_fodf_with_fodf_shells:RECONST_FODF" {
        ext.fodf_shells = "1000 2000 3000"
    }
    
}