process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "BETCROP_FSLBETCROP" {
        ext.bet_f = 0.16
        ext.b0_thr = 10
        ext.crop = false
    }

    withName: "test_betcrop_fslbetcrop_t1:BETCROP_FSLBETCROP" {
        ext.bet_f = 0.5
        ext.crop = true
    }
}
