process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withNAME: "TRACKING_PFTTRACKING" {
        ext.pft_random_seed = 0
        ext.pft_compress_streamlines = true
        ext.pft_compress_value = 0.2
        ext.pft_algo = "prob"
        ext.pft_seeding = "npv"
        ext.pft_nbr_seeds = 10
        ext.pft_step = 0.5
        ext.pft_seeding_mask_type = "wm"
        ext.pft_theta = 20
        ext.pft_sfthres = 0.1
        ext.pft_sfthres_init = 0.5
        ext.pft_min_len = 20
        ext.pft_max_len = 200
        ext.pft_particles = 15
        ext.pft_back = 2
        ext.pft_front = 1
        ext.basis = "descoteaux07"
    }
}