process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withNAME: "TRACKING_PFTTRACKING" {
        pft_random_seed = 0
        pft_compress_streamlines = true
        pft_compress_value = 0.2
        pft_algo = "prob"
        pft_seeding = "npv"
        pft_nbr_seeds = 10
        pft_step = 0.5
        pft_seeding_mask_type = "wm"
        pft_theta = 20
        pft_sfthres = 0.1
        pft_sfthres_init = 0.5
        pft_min_len = 20
        pft_max_len = 200
        pft_particles = 15
        pft_back = 2
        pft_front = 1
        basis = "descoteaux07"
    }
}