process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "UTILS_EXTRACTB0" {
        ext.b0_threshold = 50
        ext.output_single_volume = true
    }

    withName: "UTILS_EXTRACTB0_MEAN" {
        ext.b0_extraction_strategy = "mean"
    }

    withName: "UTILS_EXTRACTB0_ALL4D" {
        ext.b0_extraction_strategy = "all"
    }

    withName: "UTILS_EXTRACTB0_ALLSERIES" {
        ext.b0_extraction_strategy = "all"
        ext.output_single_volume = false
    }

    withName: "UTILS_EXTRACTB0_CLUSTERMEAN" {
        ext.b0_extraction_strategy = "cluster-mean"
    }

    withName: "UTILS_EXTRACTB0_CLUSTERFIRST" {
        ext.b0_extraction_strategy = "cluster-first"
    }
}
