params {
    outdir = "output/"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
}

process {
    cpus = 4
    memory = 5.GB
    time = 2.h
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "podman") {
    podman.enabled = true
    podman.userEmulation = true
    podman.runOptions = "--runtime crun --platform linux/x86_64 --systemd=always"
} else {
    docker.enabled = true
    docker.userEmulation = false
    docker.fixOwnership = true
    docker.runOptions = '--platform=linux/amd64'
}

// We need to consider switch to quay for hosting, see what the free plan offers
// docker.registry = 'docker.com'
// podman.registry = 'quay.io'
// singularity.registry = 'quay.io'

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

manifest {
    nextflowVersion = '!>=23.04.0'
}
