
params {
    // Default endpoint provided by nf-core, we keep it here in case sometimes we end up pushing stuff to them
    test_data_base = "https://github.com/scilus/nf-scil/raw"
    test_data_base_denoise = "https://github.com/ThoumyreStanislas/nf-scil/raw"

    test_data {
        "scilpy" {
            "cropvolume" {
                image = "${params.test_data_base}/main/.test_data/scilpy/crop_volume_image.nii.gz"
                mask = "${params.test_data_base}/main/.test_data/scilpy/crop_volume_mask.nii.gz"
            }
        }
        "denoising" {
            "nlmeans"{
                image = "${params.test_data_base_denoise}/main/.test_data/denoising/nlmeans_image.nii.gz"
                mask = "${params.test_data_base_denoise}/main/.test_data/denoising/nlmeans_mask.nii.gz"
            }
        }
    }
}
