
params {
    // Default endpoint provided by nf-core, we keep it here in case sometimes we end up pushing stuff to them
    test_data_base = "https://github.com/scilus/nf-scil/raw"
    test_data {
        "betcrop" {
            "cropvolume" {
                image = "${params.test_data_base}/main/.test_data/betcrop/cropvolume_image.nii.gz"
                mask = "${params.test_data_base}/main/.test_data/betcrop/cropvolume_mask.nii.gz"
            }
            "fslbetcrop" {
                dwi = "${params.test_data_base}/main/.test_data/betcrop/fslbetcrop_dwi.nii.gz"
                bval = "${params.test_data_base}/main/.test_data/betcrop/fslbetcrop_bval.bval"
                bvec = "${params.test_data_base}/main/.test_data/betcrop/fslbetcrop_bvec.bvec"
            }
        }
        "denoising" {
            "nlmeans"{
                image = "${params.test_data_base}/main/.test_data/denoising/nlmeans_image.nii.gz"
                mask = "${params.test_data_base}/main/.test_data/denoising/nlmeans_mask.nii.gz"
            }
        }
        "preproc" {
            "normalize"{
                dwi = "${params.test_data_base}/main/.test_data/preproc/dwi_normalize.nii.gz"
                mask = "${params.test_data_base}/main/.test_data/preproc/dwi_normalize_mask.nii.gz"
                bval = "${params.test_data_base}/main/.test_data/preproc/dwi_normalize_bval.bval"
                bvec = "${params.test_data_base}/main/.test_data/preproc/dwi_normalize_bvec.bvec"
            }
            "n4" {
                dwi = "${params.test_data_base}/main/.test_data/preproc/dwi.nii.gz"
                b0 = "${params.test_data_base}/main/.test_data/preproc/b0.nii.gz"
                b0_mask = "${params.test_data_base}/main/.test_data/preproc/b0_mask.nii.gz"
            }
        }
        "reconst" {
            "diffusivitypriors"{
                fa = "${params.test_data_base}/main/.test_data/fa.nii.gz"
                ad = "${params.test_data_base}/main/.test_data/ad.nii.gz"
                md = "${params.test_data_base}/main/.test_data/md.nii.gz"
                priors = "${params.test_data_base}/main/.test_data/priors"
            }
            "noddi"{
                dwi = "${params.test_data_base}/main/.test_data/preproc/dwi_normalize.nii.gz"
                mask = "${params.test_data_base}/main/.test_data/preproc/dwi_normalize_mask.nii.gz"
                bval = "${params.test_data_base}/main/.test_data/preproc/dwi_normalize_bval.bval"
                bvec = "${params.test_data_base}/main/.test_data/preproc/dwi_normalize_bvec.bvec"
                kernels = "${params.test_data_base}/main/.test_data/kernels"
            }
            "fodf" {
                dwi = "${params.test_data_base}/main/.test_data/reconst/dwi.nii.gz"
                bval = "${params.test_data_base}/main/.test_data/reconst/dwi.bval"
                bvec = "${params.test_data_base}/main/.test_data/reconst/dwi.bvec"
                b0_mask = "${params.test_data_base}/main/.test_data/reconst/b0_mask.nii.gz"
                fa = "${params.test_data_base}/main/.test_data/reconst/fa.nii.gz"
                md = "${params.test_data_base}/main/.test_data/reconst/md.nii.gz"
                frf = "${params.test_data_base}/main/.test_data/reconst/frf.txt"
            }
        }
    }
}
