
params {
    // Default endpoint provided by nf-core, we keep it here in case sometimes we end up pushing stuff to them
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"

    test_data {
        "scilpy" {
            "cropvolume" {
                image = "${params.test_data_base}/.test_data/scilpy/crop_volume_image.nii.gz"
                mask = "${params.test_data_base}/.test_data/scilpy/crop_volume_mask.nii.gz"
            }
        }
    }
}