process {
    withName: "BET_PRELIM" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.bet_f = 0.16
        ext.b0_thr = 10
        ext.crop = false
        ext.dilate = true
    }

    withName: "DENOISE_DWI" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.extent = 3
    }

    withName: "UTILS_EXTRACTB0" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.b0_extraction_strategy = "mean"
    }

    // Need to check options with Arnaud //
    withName: "TOPUP_EDDY" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.prefix_topup = "topup_results"
        ext.default_config_topup = "b02b0.cnf"
        ext.encoding = "y"
        ext.readout = 0.062
        ext.b0_thr_extract_b0 = 10
        ext.slice_drop_flag = true
        ext.bet_topup_before_eddy_f=0.16
        ext.eddy_cmd="eddy_cpu"
        ext.dilate_b0_mask_prelim_brain_extraction = 5
        ext.bet_prelim_f = 0.16
    }

    withName: "BETCROP_FSLBETCROP" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.bet_f = 0.16
        ext.b0_thr = 10
        ext.crop = true
        ext.dilate = false
    }

    withName: "N4_DWI" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.bspline_knot_per_voxel = 0.25
        ext.shrink_factor = 4
    }

    withName: "NORMALIZE_DWI" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: "RESAMPLE_DWI" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.voxel_size = 1
        ext.interp = "lin"
    }
}
