process {
    withName: "test_reconst_fodf_msmt:RECONST_FODF" {
        ext.b0_thr_extract_b0 = 10
        ext.dwi_shell_tolerance = 50
        ext.min_fodf_shell_value = 100
        ext.wm_fodf = true
        ext.gm_fodf = true
        ext.csf_fodf = true
        ext.vf = true
        ext.vf_rgb = true
        ext.method = "msmt"
    }
}
