process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: "VOXSIZE_RESAMPLE" {
        ext.voxel_size = 1
        ext.interp = "lin"
    }

    withName: "VOLSIZE_RESAMPLE" {
        ext.volume_size = 256
        ext.interp = "lin"
    }
}