process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "IMAGE_RESAMPLE_VOXSIZE" {
        ext.voxel_size = 1
        ext.interp = "lin"
    }

    withName: "IMAGE_RESAMPLE_VOLSIZE" {
        ext.volume_size = 256
        ext.interp = "lin"
    }
}
