process {

    withName: "REGISTRATION_SYNTHREGISTRATION" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: "REGISTRATION_SYNTHREGISTRATION_T1FA" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.out = "lps"
    }
}
