process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: "test_registration_synthregistration:REGISTRATION_SYNTHREGISTRATION" {
        ext.init = "affine"
        ext.warp = "deform"
        ext.threads = 1
        ext.lambda = 0.5
        ext.steps = 5
    }

}
